In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np
import os
import csv

# File to Load
file_to_load = os.path.join("Resources","purchase_data.csv")

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

#Create a dataframe of only the unique players
deduped = pd.DataFrame(purchase_data.drop_duplicates(subset ="SN"))

## Player Count

In [2]:
#Calculate the unique number of players
tot_players = len(deduped["SN"])

#Create a dataframe to display the total number of unique players
tot_players_df = pd.DataFrame({"Total Players": [tot_players]})

#Print total player dataframe
tot_players_df

   Total Players
0            576

## Purchasing Analysis (Total)

In [2]:
#Create summary data frame with 
# - Unique items
# - Average price,
# - Total number of purchases
# - Total revenue

#Create a dataframe to hold the purchase analysis
purchase_summary = pd.DataFrame({"Unique Items":[len(purchase_data["Item ID"].unique())],
                                "Average Price":['${:,.2f}'.format(purchase_data["Price"].mean())],
                                "Number of Purchases":[len(purchase_data["Purchase ID"].unique())],
                                "Total Revenue":['${:,.2f}'.format(purchase_data["Price"].sum())]})
#Print the purchase analysis
purchase_summary

   Unique Items Average Price  Number of Purchases Total Revenue
0           183         $3.05                  780     $2,379.77

In [3]:
#Find the number of unique items
unique_items = len(purchase_data["Item ID"].unique())

#Calculate the average price
avg_price = '${:,.2f}'.format(purchase_data["Price"].mean())

#Find the total number of purchases
tot_purchases = len(purchase_data["Purchase ID"].unique())

#Calculate the total revenue
tot_rev = '${:,.2f}'.format(purchase_data["Price"].sum())

#Create a dataframe to hold the purchase analysis
purchase_summary = pd.DataFrame({"Unique Items":[unique_items],
                                "Average Price":[avg_price],
                                "Number of Purchases":[tot_purchases],
                                "Total Revenue":[tot_rev]})
#Print the purchase analysis
purchase_summary

   Unique Items Average Price  Number of Purchases Total Revenue
0           183         $3.05                  780     $2,379.77

## Gender Demographics

In [4]:
#Group deduped dataframe by Gender
deduped_gender_grouped = deduped.groupby("Gender")

#Calculate total count of gender for deduped data
deduped_gender_count = deduped_gender_grouped["SN"].count()

#Find the counts of each Gender 
unique_males = deduped_gender_count["Female"]
unique_females = deduped_gender_count["Male"]
unique_others = deduped_gender_count["Other / Non-Disclosed"]

#Calculate the percentage of each Gender
prct_male = unique_males / tot_players
prct_female = unique_females / tot_players
prct_other = unique_others / tot_players

#Create list for dataframe
gender_data = [['Male', unique_males, '{:,.2%}'.format(prct_male)],
               ['Female', unique_females, '{:,.2%}'.format(prct_female)],
               ['Other/Non-Disclosed', unique_others, '{:,.2%}'.format(prct_other)]] 

#Create gender summary dataframe
gender_user_summary = pd.DataFrame(gender_data, columns = ['Gender', 'Count', 'Percentage']) 

#Set dataframe index as gender
gender_user_summary = gender_user_summary.set_index('Gender')

#Print gender summary
gender_user_summary

                     Count Percentage
Gender
Male                    81     14.06%
Female                 484     84.03%
Other/Non-Disclosed     11      1.91%


## Purchasing Analysis (Gender)

In [5]:
#Group original dataframe by Gender
gender_grouped = purchase_data.groupby("Gender")

#Get total and by gender purchase counts 
gender_purchase = gender_grouped["Purchase ID"].count()
female_purchase = gender_purchase["Female"]
male_purchase = gender_purchase["Male"]
other_purchase = gender_purchase["Other / Non-Disclosed"]

#Get overall and by gender mean/average prices 
gender_avg_price = gender_grouped["Price"].mean()
female_avg_price = gender_avg_price["Female"]
male_avg_price = gender_avg_price["Male"]
other_avg_price = gender_avg_price["Other / Non-Disclosed"]

#Get overall and by gender total purchase values 
gender_tot_purchase = gender_grouped["Price"].sum()
female_tot_purchase = gender_tot_purchase["Female"]
male_tot_purchase = gender_tot_purchase["Male"]
other_tot_purchase = gender_tot_purchase["Other / Non-Disclosed"]

#Get overall and by gender mean/average purchase value 
gender_avg_purchases = (gender_grouped["Price"].sum() / deduped_gender_count)
female_avg_purchase = gender_avg_purchases["Female"]
male_avg_purchase = gender_avg_purchases["Male"]
other_avg_purchase = gender_avg_purchases["Other / Non-Disclosed"]

#Create list for dataframe
gender_purchase_analysis = [['Male', male_purchase, '${:,.2f}'.format(male_avg_price), '${:,.2f}'.format(male_tot_purchase), '${:,.2f}'.format(male_avg_purchase)],
               ['Female', female_purchase, '${:,.2f}'.format(female_avg_price), '${:,.2f}'.format(female_tot_purchase), '${:,.2f}'.format(female_avg_purchase)],
               ['Other/Non-Disclosed', other_purchase, '${:,.2f}'.format(other_avg_price), '${:,.2f}'.format(other_tot_purchase), '${:,.2f}'.format(other_avg_purchase)]]

#Create gender analysis summary dataframe
gender_purchase_summary = pd.DataFrame(gender_purchase_analysis, columns = ['Gender', 'Purchase Count', 
                                                                   'Avg Purchase Price', 'Total Purchase Value', 
                                                                   'Avg Total Purchase per Person' ]) 
#Set dataframe index as gender
gender_purchase_summary = gender_purchase_summary.set_index('Gender')

#Print gender analysis summary
gender_purchase_summary.head()

,Purchase Count,Avg Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Male,652,$3.02,"$1,967.64",$4.07
Female,113,$3.20,$361.94,$4.47
Other/Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

In [6]:
# Create the age bins   
bins = [0, 9, 14, 19, 24, 29, 34, 39, 45]

# Create the names for the age bins
age_groups = ['<10', '10-14', '15-19', '20-24', '25-29', '30-34', '35-39', '40+']

#Add age group to deduped dataframe
deduped['Age Group'] = pd.cut(deduped['Age'], bins, labels=age_groups)

#Add age group to purchase data dataframe
purchase_data['Age Group'] = pd.cut(purchase_data['Age'], bins, labels=age_groups)

#Group deduped df by age groups
age_group_group = deduped.groupby('Age Group')

#Find the counts of each Gender 
age_group_counts = age_group_group['Age Group'].count()
age_count_1 = age_group_counts["<10"]
age_count_2 = age_group_counts["10-14"]
age_count_3 = age_group_counts["15-19"]
age_count_4 = age_group_counts["20-24"]
age_count_5 = age_group_counts["25-29"]
age_count_6 = age_group_counts["30-34"]
age_count_7 = age_group_counts["35-39"]
age_count_8 = age_group_counts["40+"]

#Calculate the percentage of each age group
prct_age_1 = age_count_1 / tot_players
prct_age_2 = age_count_2 / tot_players
prct_age_3 = age_count_3 / tot_players
prct_age_4 = age_count_4 / tot_players
prct_age_5 = age_count_5 / tot_players
prct_age_6 = age_count_6 / tot_players
prct_age_7 = age_count_7 / tot_players
prct_age_8 = age_count_8 / tot_players

#Create list for dataframe
age_data = [['<10', age_count_1, '{:,.2%}'.format(prct_age_1)],
            ['10-14', age_count_2, '{:,.2%}'.format(prct_age_2)], 
            ['15-19', age_count_3, '{:,.2%}'.format(prct_age_3)],
            ['20-24', age_count_4, '{:,.2%}'.format(prct_age_4)],
            ['25-29', age_count_5, '{:,.2%}'.format(prct_age_5)],
            ['30-34', age_count_6, '{:,.2%}'.format(prct_age_6)],
            ['35-39', age_count_7, '{:,.2%}'.format(prct_age_7)],
            ['40+', age_count_8, '{:,.2%}'.format(prct_age_8)]]

#Create gender summary dataframe
age_user_summary = pd.DataFrame(age_data, columns = ['Age Group', 'Total Count', 'Percentage of Players']) 
age_user_summary = age_user_summary.set_index('Age Group')

#Print gender summary
age_user_summary

           Total Count Percentage of Players
Age Group
<10                 17                 2.95%
10-14               22                 3.82%
15-19              107                18.58%
20-24              258                44.79%
25-29               77                13.37%
30-34               52                 9.03%
35-39               31                 5.38%
40+                 12                 2.08%

## Purchasing Analysis (Age)

In [7]:
#Group original dataframe by age group
age_grouped = purchase_data.groupby("Age Group")

#Get total and by age group purchase counts 
age_purchase = age_grouped["Purchase ID"].count()
age1_purchase = age_purchase["<10"]
age2_purchase = age_purchase["10-14"]
age3_purchase = age_purchase["15-19"]
age4_purchase = age_purchase["20-24"]
age5_purchase = age_purchase["25-29"]
age6_purchase = age_purchase["30-34"]
age7_purchase = age_purchase["35-39"]
age8_purchase = age_purchase["40+"]

#Get overall and by age group mean/average prices 
age_avg_price = age_grouped["Price"].mean()
age1_avg_price = age_avg_price["<10"]
age2_avg_price = age_avg_price["10-14"]
age3_avg_price = age_avg_price["15-19"]
age4_avg_price = age_avg_price["20-24"]
age5_avg_price = age_avg_price["25-29"]
age6_avg_price = age_avg_price["30-34"]
age7_avg_price = age_avg_price["35-39"]
age8_avg_price = age_avg_price["40+"]

#Get overall and by age group purchase values 
age_tot_purchase = age_grouped["Price"].sum()
age1_tot_purchase = age_tot_purchase["<10"]
age2_tot_purchase = age_tot_purchase["10-14"]
age3_tot_purchase = age_tot_purchase["15-19"]
age4_tot_purchase = age_tot_purchase["20-24"]
age5_tot_purchase = age_tot_purchase["25-29"]
age6_tot_purchase = age_tot_purchase["30-34"]
age7_tot_purchase = age_tot_purchase["35-39"]
age8_tot_purchase = age_tot_purchase["40+"]

#Get overall and by age group mean/average purchase value 
age_avg_purchases = (age_grouped["Price"].sum() / age_group_counts)
age1_avg_purchase = age_avg_purchases["<10"]
age2_avg_purchase = age_avg_purchases["10-14"]
age3_avg_purchase = age_avg_purchases["15-19"]
age4_avg_purchase = age_avg_purchases["20-24"]
age5_avg_purchase = age_avg_purchases["25-29"]
age6_avg_purchase = age_avg_purchases["30-34"]
age7_avg_purchase = age_avg_purchases["35-39"]
age8_avg_purchase = age_avg_purchases["40+"]

#Create list for dataframe
age_purchase_analysis = [['<10', age1_purchase, '${:,.2f}'.format(age1_avg_price), '${:,.2f}'.format(age1_tot_purchase), '${:,.2f}'.format(age1_avg_purchase)],
               ['10-14', age2_purchase, '${:,.2f}'.format(age2_avg_price), '${:,.2f}'.format(age2_tot_purchase), '${:,.2f}'.format(age2_avg_purchase)],
               ['15-19', age3_purchase, '${:,.2f}'.format(age3_avg_price), '${:,.2f}'.format(age3_tot_purchase), '${:,.2f}'.format(age3_avg_purchase)],
               ['20-24', age4_purchase, '${:,.2f}'.format(age4_avg_price), '${:,.2f}'.format(age4_tot_purchase), '${:,.2f}'.format(age4_avg_purchase)],
               ['25-29', age5_purchase, '${:,.2f}'.format(age5_avg_price), '${:,.2f}'.format(age5_tot_purchase), '${:,.2f}'.format(age5_avg_purchase)],
               ['30-34', age6_purchase, '${:,.2f}'.format(age6_avg_price), '${:,.2f}'.format(age6_tot_purchase), '${:,.2f}'.format(age6_avg_purchase)],
               ['35-99', age7_purchase, '${:,.2f}'.format(age7_avg_price), '${:,.2f}'.format(age7_tot_purchase), '${:,.2f}'.format(age7_avg_purchase)],
               ['40+', age8_purchase, '${:,.2f}'.format(age8_avg_price), '${:,.2f}'.format(age8_tot_purchase), '${:,.2f}'.format(age8_avg_purchase)]]

#Create age group analysis summary dataframe
age_purchase_summary = pd.DataFrame(age_purchase_analysis, columns = ['Age Group', 'Purchase Count', 
                                                                   'Avg Purchase Price', 'Total Purchase Value', 
                                                                   'Avg Total Purchase per Person' ]) 
#Set dataframe index as age group
age_purchase_summary = age_purchase_summary.set_index('Age Group')

#Print age group analysis summary
age_purchase_summary.head(8)

,Purchase Count,Avg Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age Group,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-99,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

## Top Spenders

In [8]:
#Group purchase data by SN
sn_grouped = purchase_data.groupby("SN")
sn_group_data = sn_grouped['Price'].agg([np.sum, np.mean, np.size])

# Create dataframe from SN group
sn_df = pd.DataFrame(sn_group_data, columns = ['sum', 'mean', 'size'])

#Format currency values as $ and remove decimal from the purchase count
# sn_df['sum'] = sn_df['sum'].map('${:,.2f}'.format)
sn_df['mean'] = sn_df['mean'].map('${:,.2f}'.format)
sn_df['size'] = sn_df['size'].map('{:,.0f}'.format)

#Rename and reorder columns
sn_df = sn_df.rename(columns={'size':'Purchase Count', 'mean':'Average Purchase Price','sum':'Total Purchase Value'})
sn_df = sn_df[['Purchase Count','Average Purchase Price','Total Purchase Value']]

#Sort dataframe by Total Purchase Value - Descending
sn_df = sn_df.sort_values('Total Purchase Value', ascending=False)

#Print dataframe head
sn_df.head()

            Purchase Count Average Purchase Price  Total Purchase Value
SN
Lisosia93                5                  $3.79                 18.96
Idastidru52              4                  $3.86                 15.45
Chamjask73               3                  $4.61                 13.83
Iral74                   4                  $3.40                 13.62
Iskadarya95              3                  $4.37                 13.10

## Most Popular Items

In [9]:
#Group purchase data by Item ID and Item Name
item_grouped = purchase_data.groupby(['Item ID', 'Item Name'])
item_group_data = item_grouped['Price'].agg([np.size, 'first', np.sum])

# Create dataframe from SN group
item_df = pd.DataFrame(item_group_data)

#Format currency values as $ and remove decimal from the purchase count
item_df['size'] = item_df['size'].map('{:,.0f}'.format)
item_df['first'] = item_df['first'].map('${:,.2f}'.format)
# item_df['sum'] = item_df['sum'].map('${:,.2f}'.format)

#Rename and reorder columns
item_df = item_df.rename(columns={'size':'Purchase Count', 'first':'Item Price','sum':'Total Purchase Value'})

#Sort dataframe by Total Purchase Value - Descending
popular = item_df.sort_values('Purchase Count', ascending=False)

#Print dataframe head
popular.head(5)

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
145,Fiery Glass Crusader,9,$4.58,41.22
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,31.77
82,Nirvana,9,$4.90,44.10
92,Final Critic,8,$4.88,39.04
75,Brutality Ivory Warmace,8,$2.42,19.36

## Most Profitable Items

In [10]:
#Sort dataframe by Total Purchase Value - Descending
profitable= item_df.sort_values('Total Purchase Value', ascending=False)

#Print dataframe head
profitable.head(5)

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,50.76
82,Nirvana,9,$4.90,44.10
145,Fiery Glass Crusader,9,$4.58,41.22
92,Final Critic,8,$4.88,39.04
103,Singed Scalpel,8,$4.35,34.80