### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [23]:
# Dependencies and Setup
import pandas as pd
import os
import csv

# File to Load
file_to_load = os.path.join("Resources","purchase_data.csv")

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

#Create a dataframe of only the unique players
deduped = pd.DataFrame(purchase_data.drop_duplicates(subset ="SN"))

## Player Count

* Display the total number of players

In [28]:
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [44]:
#Calculate the unique number of players
tot_players = len(deduped["SN"])

#Create a dataframe to display the total number of unique players
tot_players_df = pd.DataFrame({"Total Players": [tot_players]})

#Print total player dataframe
tot_players_df

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [30]:
#Find the number of unique items
unique_items = len(purchase_data["Item ID"].unique())

#Calculate the average price
avg_price = purchase_data["Price"].mean()

#Find the total number of purchases
tot_purchases = len(purchase_data["Purchase ID"].unique())

#Calculate the total revenue
tot_rev = purchase_data["Price"].sum()

#Create a dataframe to hold the purchase analysis
purchase_summary = pd.DataFrame({"Unique Items":[unique_items],
                                "Average Price":[avg_price],
                                "Number of Purchases":[tot_purchases],
                                "Total Revenue":[tot_rev]})
#Print the purchase analysis
purchase_summary

   Unique Items  Average Price  Number of Purchases  Total Revenue
0           183       3.050987                  780        2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [35]:
#Group deduped dataframe by Gender
deduped_gender_grouped = deduped.groupby("Gender")

#Calculate total count of gender for deduped data
deduped_gender_count = deduped_gender_grouped["SN"].count()

#Find the counts of each Gender 
unique_males = deduped_gender_count["Female"]
unique_females = deduped_gender_count["Male"]
unique_others = deduped_gender_count["Other / Non-Disclosed"]

#Calculate the percentage of each Gender
prct_male = unique_males / tot_players
prct_female = unique_females / tot_players
prct_other = unique_others / tot_players

#Create list for dataframe
gender_data = [['Male', unique_males, prct_male],
               ['Female', unique_females, prct_female],
               ['Other/Non-Disclosed', unique_others, prct_other]] 

#Create gender summary dataframe
gender_user_summary = pd.DataFrame(gender_data, columns = ['Gender', 'Count', 'Percentage']) 

#Print gender summary
gender_user_summary.head()

                Gender  Count  Percentage
0                 Male     81    0.140625
1               Female    484    0.840278
2  Other/Non-Disclosed     11    0.019097


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [36]:
#Group original dataframe by Gender
gender_grouped = purchase_data.groupby("Gender")

#Get total and by gender purchase counts 
gender_purchase = gender_grouped["Purchase ID"].count()
female_purchase = gender_purchase["Female"]
male_purchase = gender_purchase["Male"]
other_purchase = gender_purchase["Other / Non-Disclosed"]

#Get overall and by gender mean/average prices 
gender_avg_price = gender_grouped["Price"].mean()
female_avg_price = gender_avg_price["Female"]
male_avg_price = gender_avg_price["Male"]
other_avg_price = gender_avg_price["Other / Non-Disclosed"]

#Get overall and by gender total purchase values 
gender_tot_purchase = gender_grouped["Price"].sum()
female_tot_purchase = gender_tot_purchase["Female"]
male_tot_purchase = gender_tot_purchase["Male"]
other_tot_purchase = gender_tot_purchase["Other / Non-Disclosed"]

#Get overall and by gender mean/average purchase value 
gender_avg_purchases = (gender_grouped["Price"].sum() / gender_count)
female_avg_purchase = gender_avg_purchases["Female"]
male_avg_purchase = gender_avg_purchases["Male"]
other_avg_purchase = gender_avg_purchases["Other / Non-Disclosed"]

#Create list for dataframe
gender_purchase_analysis = [['Male', male_purchase, male_avg_price, male_tot_purchase, male_avg_purchase],
               ['Female', female_purchase, female_avg_price, female_tot_purchase, female_avg_purchase],
               ['Other/Non-Disclosed', other_purchase, other_avg_price, other_tot_purchase, other_avg_purchase]]

#Create gender analysis summary dataframe
gender_purchase_summary = pd.DataFrame(gender_purchase_analysis, columns = ['Gender', 'Purchase Count', 
                                                                   'Avg Purchase Price', 'Total Purchase Value', 
                                                                   'Avg Total Purchase per Person' ]) 

#Print gender analysis summary
gender_purchase_summary.head()

,Gender,Purchase Count,Avg Purchase Price,Total Purchase Value,Avg Total Purchase per Person
0,Male,652,3.017853,1967.64,4.065372
1,Female,113,3.203009,361.94,4.468395
2,Other/Non-Disclosed,15,3.346000,50.19,4.562727

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [50]:
# Create the age bins   
bins = [7, 10, 14, 19, 24, 29, 34, 39, 45]

# Create the names for the age bins
age_groups = ['<10', '10-14', '15-19', '20-24', '25-29', '30-34', '35-39', '40+']

#Add age group to deduped dataframe
deduped['Age Group'] = pd.cut(deduped['Age'], bins, labels=age_groups)

#Group by age groups
age_group_group = deduped.groupby('Age Group')

#Find the counts of each Gender 
age_group_counts = age_group_group['Age Group'].count()
age_count_1 = age_group_counts["<10"]
age_count_2 = age_group_counts["10-14"]
age_count_3 = age_group_counts["15-19"]
age_count_4 = age_group_counts["20-24"]
age_count_5 = age_group_counts["25-29"]
age_count_6 = age_group_counts["30-34"]
age_count_7 = age_group_counts["35-39"]
age_count_8 = age_group_counts["40+"]

#Calculate the percentage of each age group
prct_age_1 = age_count_1 / tot_players
prct_age_2 = age_count_2 / tot_players
prct_age_3 = age_count_3 / tot_players
prct_age_4 = age_count_4 / tot_players
prct_age_5 = age_count_5 / tot_players
prct_age_6 = age_count_6 / tot_players
prct_age_7 = age_count_7 / tot_players
prct_age_8 = age_count_8 / tot_players

#Create list for dataframe
age_data = [['<10', age_count_1, prct_age_1],
            ['10-14', age_count_2, prct_age_2], 
            ['15-19', age_count_3, prct_age_3],
            ['20-24', age_count_4, prct_age_4],
            ['25-29', age_count_5, prct_age_5],
            ['30-34', age_count_6, prct_age_6],
            ['35-39', age_count_7, prct_age_7],
            ['40+', age_count_8, prct_age_8]]

#Create gender summary dataframe
age_user_summary = pd.DataFrame(age_data, columns = ['Age Group', 'Total Count', 'Percentage of Players']) 

#Print gender summary
age_user_summary

  Age Group  Total Count  Percentage of Players
0       <10           17               0.029514
1     10-14           15               0.026042
2     15-19          107               0.185764
3     20-24          258               0.447917
4     25-29           77               0.133681
5     30-34           52               0.090278
6     35-39           31               0.053819
7       40+           12               0.020833

       Total Count Percentage of Players
<10             17                 2.95%
10-14           22                 3.82%
15-19          107                18.58%
20-24          258                44.79%
25-29           77                13.37%
30-34           52                 9.03%
35-39           31                 5.38%
40+             12                 2.08%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age Ranges,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77
82,Nirvana,9,$4.90,$44.10
19,"Pursuit, Cudgel of Necromancy",8,$1.02,$8.16

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
92,Final Critic,8,$4.88,$39.04
103,Singed Scalpel,8,$4.35,$34.80